* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 56px;
  font-size: .875rem;
  color: #343a40;
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  position: relative;
  z-index: 2;

  .social-media {
    margin-left: 15px;

    i {
      font-size: 14px;
      margin-right: 5px;
    }

    .fa-brands:hover {
      cursor: pointer;
      color: #bcac76;
    }

    .fa-phone {
      margin-left: 15px;
    }

    span {
      font-size: 15px;
      font-family: monospace;
    }
  }

  .right {
    padding-right: 25px;

    .dropbtn {
      border: none;
      background-color: transparent;
      padding: 5px;
      margin-right: 10px;
      cursor: pointer;
      color: #343a40;

      i {
        font-size: 12px;
        font-weight: bolder;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      color: black;
      min-width: 150px;
      overflow: auto;
      z-index: 1;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    }
  }
}

.container-fluid {
  padding: 26px 5px;
  position: absolute;
  top: 50px;
  z-index: 5;

  .lists {
    ul {
      display: flex;
      list-style: none;

      li {
        padding: 0 12px;

        .active {
          color: black;
        }

        a {
          color: rgb(0 0 0 / 50%);
          font-weight: 600;
          text-decoration: none;

          &:hover {
            color: black;
          }
        }
      }
    }

    .home-list {
      display: none;
      position: relative;
      left: 100px;
      font-size: 14px;
      width: 30%;
      background-color: white;
      padding: 12px 0 12px 48px;

      li {
        display: flex;
        padding: 7px 0;
        position: relative;
        right: 17px;
        font-weight: 600;
        color: #868e96;
      }
    }
  }

  .input-basket {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;

    .search {
      padding: 5px;
      margin-top: 6px;
      background-color: transparent;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          color: #b6bdc4;
        }
      }

      i {
        font-size: 18px;
      }

      border-bottom: 1px solid lightgray;
      transition: .4s;

      &:hover {
        border-bottom: 1px solid black;

      }
    }

    .person-basket {
      .person {
        font-size: 26px;
      }

      .basket {
        font-size: 22px;
      }

      .menu {
        font-size: 26px;
      }

      i {
        padding: 0 6px;
        font-size: 22px;
        transition: transform 0.3s ease;

        &:hover {
          color: #bcac76;
        }
      }

      span {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        color: white;
        text-align: center;
        border-radius: 50%;
        font-size: 11px;
        background-color: #bcac76;
      }

      .wishlist {
        right: 142px;
      }

      .basket-size {
        right: 103px;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 101;
  display: none;
  transition: transform 0.3s ease;

  .menuCart {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: relative;
    z-index: 4;
    overflow-y: hidden;

    .sidebar {
      width: 500px;
      background-color: white;
      height: inherit;
      position: absolute;
      right: 0;

      .sidebar-content {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.6;

        .sidebar-header {
          width: 100%;
          height: 80px;
          position: relative;
          overflow: hidden;

          i {
            padding: 16px;
            position: absolute;
            top: 7px;
            right: 10px;
            font-size: 23px;
            transition: transform 0.3s ease, color 0.3s ease;
            color: #868e96;
            transform: rotate(0deg);

            &:hover {
              cursor: pointer;
              color: #343a40;
              transform: rotate(90deg);
              overflow: hidden;
            }
          }

        }

        .sidebar-body {
          padding: 16px 48px;
          position: relative;

          h5 {
            color: #212529;
            font-weight: bolder;
            margin-bottom: 48px;
            overflow: hidden;
          }

          .dropdown-container {
            position: relative;
            margin-bottom: 2rem;

            ul {
              color: #868e96;
              position: relative;
              transition: .3s;

              li {
                padding: 8px 16px 8px 0;
                align-items: center;
              }

              .active {
                transition: 0.3s;

                &:hover {
                  color: #bcac76;
                }
              }
            }
          }

          .dropdown-list {
            margin-left: 1rem;
            display: none;
            position: absolute;
            top: 100%;
            z-index: 2;
            overflow-y: auto;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;

            .dropdown-items:hover {
              color: #bcac76;
            }
          }

          .contact {
            margin-bottom: 24px;
            color: #212529;

            i {
              margin-right: .5rem;
            }

            span {
              font-size: 17.5px;
              font-family: monospace;
            }
          }

          p {
            color: #868e96;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .rotate-icon {
          transition: transform 0.3s ease;
        }
      }
    }
  }
}