* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 56px;
  font-size: 0.875rem;
  color: #343a40;
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  position: relative;
  z-index: 2;
}
.header .social-media {
  margin-left: 15px;
}
.header .social-media i {
  font-size: 14px;
  margin-right: 5px;
}
.header .social-media .fa-brands:hover {
  cursor: pointer;
  color: #bcac76;
}
.header .social-media .fa-phone {
  margin-left: 15px;
}
.header .social-media span {
  font-size: 15px;
  font-family: monospace;
}
.header .right {
  padding-right: 25px;
}
.header .right .dropbtn {
  border: none;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  color: #343a40;
}
.header .right .dropbtn i {
  font-size: 12px;
  font-weight: bolder;
}
.header .right .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 150px;
  overflow: auto;
  z-index: 1;
}
.header .right .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.container-fluid {
  padding: 26px 5px;
  position: absolute;
  top: 50px;
  z-index: 5;
}
.container-fluid .lists ul {
  display: flex;
  list-style: none;
}
.container-fluid .lists ul li {
  padding: 0 12px;
}
.container-fluid .lists ul li .active {
  color: black;
}
.container-fluid .lists ul li a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  text-decoration: none;
}
.container-fluid .lists ul li a:hover {
  color: black;
}
.container-fluid .lists .home-list {
  display: none;
  position: relative;
  left: 100px;
  font-size: 14px;
  width: 30%;
  background-color: white;
  padding: 12px 0 12px 48px;
}
.container-fluid .lists .home-list li {
  display: flex;
  padding: 7px 0;
  position: relative;
  right: 17px;
  font-weight: 600;
  color: #868e96;
}
.container-fluid .input-basket {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
.container-fluid .input-basket .search {
  padding: 5px;
  margin-top: 6px;
  background-color: transparent;
  border-bottom: 1px solid lightgray;
  transition: 0.4s;
}
.container-fluid .input-basket .search input {
  border: none;
  outline: none;
  background-color: transparent;
}
.container-fluid .input-basket .search input::-moz-placeholder {
  color: #b6bdc4;
}
.container-fluid .input-basket .search input::placeholder {
  color: #b6bdc4;
}
.container-fluid .input-basket .search i {
  font-size: 18px;
}
.container-fluid .input-basket .search:hover {
  border-bottom: 1px solid black;
}
.container-fluid .input-basket .person-basket .person {
  font-size: 26px;
}
.container-fluid .input-basket .person-basket .basket {
  font-size: 22px;
}
.container-fluid .input-basket .person-basket .menu {
  font-size: 26px;
}
.container-fluid .input-basket .person-basket i {
  padding: 0 6px;
  font-size: 22px;
  transition: transform 0.3s ease;
}
.container-fluid .input-basket .person-basket i:hover {
  color: #bcac76;
}
.container-fluid .input-basket .person-basket span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
  background-color: #bcac76;
}
.container-fluid .input-basket .person-basket .wishlist {
  right: 142px;
}
.container-fluid .input-basket .person-basket .basket-size {
  right: 103px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 101;
  display: none;
  transition: transform 0.3s ease;
}
.overlay .menuCart {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: relative;
  z-index: 4;
  overflow-y: hidden;
}
.overlay .menuCart .sidebar {
  width: 500px;
  background-color: white;
  height: inherit;
  position: absolute;
  right: 0;
}
.overlay .menuCart .sidebar .sidebar-content {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-header {
  width: 100%;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-header i {
  padding: 16px;
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 23px;
  transition: transform 0.3s ease, color 0.3s ease;
  color: #868e96;
  transform: rotate(0deg);
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-header i:hover {
  cursor: pointer;
  color: #343a40;
  transform: rotate(90deg);
  overflow: hidden;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body {
  padding: 16px 48px;
  position: relative;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body h5 {
  color: #212529;
  font-weight: bolder;
  margin-bottom: 48px;
  overflow: hidden;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .dropdown-container {
  position: relative;
  margin-bottom: 2rem;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .dropdown-container ul {
  color: #868e96;
  position: relative;
  transition: 0.3s;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .dropdown-container ul li {
  padding: 8px 16px 8px 0;
  align-items: center;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .dropdown-container ul .active {
  transition: 0.3s;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .dropdown-container ul .active:hover {
  color: #bcac76;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .dropdown-list {
  margin-left: 1rem;
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .dropdown-list .dropdown-items:hover {
  color: #bcac76;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .contact {
  margin-bottom: 24px;
  color: #212529;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .contact i {
  margin-right: 0.5rem;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body .contact span {
  font-size: 17.5px;
  font-family: monospace;
}
.overlay .menuCart .sidebar .sidebar-content .sidebar-body p {
  color: #868e96;
  font-size: 14px;
  font-weight: 500;
}
.overlay .menuCart .sidebar .sidebar-content .rotate-icon {
  transition: transform 0.3s ease;
}/*# sourceMappingURL=header.css.map */